:root {
  /* Cores principais */
  --cor-primaria: #00E5C7;
  --cor-secundaria: #0A7F70;
  --cor-terciaria: #25F4D8;

  /* Cores de fundo */
  --fundo-claro: #FAFFFE;
  --fundo-escuro: #031C18;

  /* Cores de texto */
  --texto-claro: #FFFFFF;
  --texto-escuro: #1A1A1A;

  /* Cores de estado */
  --sucesso: #1FAD34;
  --alerta: #CAC302;
  --cuidado: #CA6902;
  --informacao: #008DCC;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    gap: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: aquamarine;
    .parteFixa {
        background-color: blanchedalmond;

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .parteVariavel {
        background-color: blanchedalmond;
    }

    .menu {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;

        align-items: center;
    }
  
}

.fundo-inicial {
    position: relative;
    background-image: url('../IFRN-Campus-Mossoro.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;

    .conteudo{
        background-color: #008bcc3d;
        color: white;
        
        li {
            list-style: none;
        }
    }
}

main {
    background-color: lightpink;
}

.conteudo {
    padding: 20px;
    min-height: 70vh; /* Ajuste conforme necessário */
}

.link-boletim {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: gray;
        color: white;
        cursor: pointer;
    }
}

.form {
    margin: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
    width: 100%;

    div {
        display: flex;
        justify-content: center;
        gap: 10%;
        align-items: center;

        span ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 4%;
        }
    }
}

.d-flex {
    display: flex;
}

.gap-10 {
    gap: 10%;
}