<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %} Consulta SUAP {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% block header %}

   
    <a href="{{ url_for('index')}}">
        <img src="{{ url_for('static', filename='logosuap.png') }}" alt="Logo SUAP">
        <span>
           Consulta de dados segura - SUAP OAuth
        </span>
    </a>
  

    {% if 'suap_token' in session %}
        <div>
            <nav>
                <ul>
                    <li>Nome
                        <span>
                            {{ user_data.vinculo['nome'] }}
                        </span>
                    </li>
                    <li>Matrícula
                        <span>
                            {{ user_data.vinculo['matricula'] }}
                        </span>
                    </li>
                    <li>Avatar do usuário
                        <img src="{{ user_data['url_foto_150x200'] }}" alt="Foto Usuário">
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">
                            <button>
                                Logout
                            </button>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    {% else %}

    {% endif %}

    {% endblock %}


    {% block content %}

    {% endblock %}
    

    
    <footer>
        Rodapé da página
    </footer>

</body>
</html>