<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %} Consulta SUAP {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% block header %}
    <header>
        <div class="parteFixa">
            <a href="{{ url_for('index')}}">
                <img src="{{ url_for('static', filename='logosuap.png') }}" alt="Logo SUAP">
                <span>
                    Consulta de dados segura - SUAP OAuth
                </span>
            </a>
        </div>
       
    

        {% if 'suap_token' in session %}
            <div class="parteVariavel">
                <nav>
                    <ul class="menu">
                        <li>
                            <span>
                                {{ user_data.vinculo['nome'] }}
                            </span>
                        </li>
                        <li>
                            <span>
                                {{ user_data.vinculo['matricula'] }}
                            </span>
                        </li>
                        <li>
                            <img src="{{ user_data['url_foto_150x200'] }}" alt="Foto Usuário">
                        </li>
                        <li>
                            <a href="{{url_for('logout')}}">
                                <button>
                                    Logout
                                </button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        {% else %}

        {% endif %}
    </header>
    {% endblock %}


    {% block content %}

    {% endblock %}
    

    
    <footer class="rodape">
        <div>
            <span>
                Desenvolvido por João Maria - 2025
            </span>
            <span>
                <p>Acesse nossas redes</p>
                <ul>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <a href="#">GitHub</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                </ul>
            </span>
        </div>
    </footer>

</body>
</html>