{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ user_data['nome_usual'] }} {% endblock %}</h2>
    <img src="{{ user_data['url_foto_150x200'] }}" alt="Foto Usuário">

    <!--
    {% for field in user_data %}

    <p> <b>{{ field }}</b>: {{ user_data[field] }} </p>

    {% endfor %}
    -->



    <img src="" alt="">

    <h1>
        Informações do usuário: {{ user_data['nome_usual'] }}
    </h1>
    <p>
        Nome completo: {{ user_data.vinculo['nome'] }}
    </p>
    <p>
        Matrícula: {{ user_data.vinculo['matricula'] }}
    </p>
    <p>
        CPF: {{ user_data['cpf'] }}
    </p>
    <p>
        Curso e campus: {{ user_data.vinculo['curso'] }} - {{ user_data.vinculo['campus'] }}
    </p>
    <p>
        Email institucional: {{ user_data['email'] }}
    </p>
    <p>
       Vínculo: {{ user_data['tipo_vinculo'] }} - {{ user_data.vinculo['situacao_sistemica'] }}
    </p>


    <h1>
        <a href="{{ url_for('boletim')}}">
        BOLETIM
        </a>
    </h1>


{% endblock %}